<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/11.0.0/markdown-it.min.js" integrity="sha256-3mv+NUxFuBg26MtcnuN2X37WUxuGunWCCiG2YCSBjNc=" crossorigin="anonymous"></script>
<script src="{{.Site.Params.staticPath}}/js/markdown-it-chords.min.js"></script>
<link rel="stylesheet" href="{{.Site.Params.staticPath}}/css/markdown-it-chords.css">
<style>
    i.diagram {
        font-family: 'consolas' !important;
        font-size: small !important;
    }
</style>

<p id="chord-container">
</p>

<script>
    chordRender('{{ .Inner }}');

    function chordRender(text){
        var md = window.markdownit();
        if (window.markdownItChords !== undefined && window.markdownItChords !== null) {
            md.use(window.markdownItChords);
            var chordContainer = document.getElementById('chord-container');
            chordContainer.innerHTML = md.render(text);
        }
    }
</script>